infrastructure/payload-router.asl.json
{
  "Comment": "Routes PEARL S3 payloads to the correct ECS-backed API based on the Lambda-provided payloadType.",
  "StartAt": "Select Payload API",
  "States": {
    "Select Payload API": {
      "Type": "Choice",
      "Choices": [
        {
          "Variable": "$.payloadType",
          "StringEquals": "indicative",
          "Next": "Call Indicative API"
        },
        {
          "Variable": "$.payloadType",
          "StringEquals": "financial",
          "Next": "Call Financial API"
        }
      ],
      "Default": "Unsupported Payload Type"
    },

    "Call Indicative API": {
      "Type": "Task",
      "Resource": "arn:aws:states:::http:invoke",
      "Parameters": {
        "ApiEndpoint": "https://indicative-api.internal.example.com/payloads",
        "Method": "POST",
        "InvocationConfig": {
          "ConnectionArn": "arn:aws:events:region:account-id:connection/pearl-private-ecs-api/connection-id"
        },
        "Headers": {
          "content-type": "application/json"
        },
        "RequestBody": {
          "requestType": "indicative",
          "correlationId.$": "$.correlationId",
          "batchId.$": "$.batchId",
          "vendorId.$": "$.vendorId",
          "dataType.$": "$.dataType",
          "payloadType.$": "$.payloadType",
          "fileName.$": "$.fileName",
          "s3PathOrArn.$": "$.s3PathOrArn",
          "bucket.$": "$.bucket",
          "key.$": "$.key"
        }
      },
      "ResultPath": "$.indicativeApiResult",
      "End": true
    },

    "Call Financial API": {
      "Type": "Task",
      "Resource": "arn:aws:states:::http:invoke",
      "Parameters": {
        "ApiEndpoint": "https://financial-api.internal.example.com/payloads",
        "Method": "POST",
        "InvocationConfig": {
          "ConnectionArn": "arn:aws:events:region:account-id:connection/pearl-private-ecs-api/connection-id"
        },
        "Headers": {
          "content-type": "application/json"
        },
        "RequestBody": {
          "requestType": "financial",
          "correlationId.$": "$.correlationId",
          "batchId.$": "$.batchId",
          "vendorId.$": "$.vendorId",
          "dataType.$": "$.dataType",
          "payloadType.$": "$.payloadType",
          "fileName.$": "$.fileName",
          "s3PathOrArn.$": "$.s3PathOrArn",
          "bucket.$": "$.bucket",
          "key.$": "$.key"
        }
      },
      "ResultPath": "$.financialApiResult",
      "End": true
    },

    "Unsupported Payload Type": {
      "Type": "Fail",
      "Error": "UnsupportedPayloadType",
      "Cause": "payloadType must be either indicative or financial."
    }
  }
}